{ include file="header.html"}
{include file="sidebar.html"}
<div id="content">
  <div class="pageTit">
    <h2>文章列表</h2>
    <span class="desc">可在列表进行编辑修改、查询、批量删除等操作。</span>
    <span class="opt"><a href="#">添加文章</a></span>
  </div>
  <div class="dataBox">
    <table border="0">
      <tr class="title">
        <th width="55"><label><input type="checkbox" /> 全选</label></th>
        <th>文章标题</th>
        <th width="120">文章分类</th>
        <th width="100">作者</th>
        <th width="120">添加日期</th>
        <th width="100">操作</th>
      </tr>
      <tr class="odd">
        <td><input type="checkbox" /></td>
        <td><a href="#">社会网络造假经典案例</a></td>
        <td><a href="#">最新资讯</a></td>
        <td>Data</td>
        <td>2009/12/25  22:43</td>
        <td><a href="#">查看</a> <a href="#">编辑</a> <a href="#">删除</a></td>
      </tr>
      <tr class="even">
        <td><input type="checkbox" /></td>
        <td><a href="#">社会网络造假经典案例</a></td>
        <td><a href="#">最新资讯</a></td>
        <td>Data</td>
        <td>2009/12/25  22:43</td>
        <td><a href="#">查看</a> <a href="#">编辑</a> <a href="#">删除</a></td>
      </tr>
      <tr class="odd">
        <td><input type="checkbox" /></td>
        <td><a href="#">社会网络造假经典案例</a></td>
        <td><a href="#">最新资讯</a></td>
        <td>Data</td>
        <td>2009/12/25  22:43</td>
        <td><a href="#">查看</a> <a href="#">编辑</a> <a href="#">删除</a></td>
      </tr>
      <tr class="even">
        <td><input type="checkbox" /></td>
        <td><a href="#">社会网络造假经典案例</a></td>
        <td><a href="#">最新资讯</a></td>
        <td>Data</td>
        <td>2009/12/25  22:43</td>
        <td><a href="#">查看</a> <a href="#">编辑</a> <a href="#">删除</a></td>
      </tr>
      <tr class="odd">
        <td><input type="checkbox" /></td>
        <td><a href="#">社会网络造假经典案例</a></td>
        <td><a href="#">最新资讯</a></td>
        <td>Data</td>
        <td>2009/12/25  22:43</td>
        <td><a href="#">查看</a> <a href="#">编辑</a> <a href="#">删除</a></td>
      </tr>
      <tr class="even">
        <td><input type="checkbox" /></td>
        <td><a href="#">社会网络造假经典案例</a></td>
        <td><a href="#">最新资讯</a></td>
        <td>Data</td>
        <td>2009/12/25  22:43</td>
        <td><a href="#">查看</a> <a href="#">编辑</a> <a href="#">删除</a></td>
      </tr>
      <tr class="odd">
        <td><input type="checkbox" /></td>
        <td><a href="#">社会网络造假经典案例</a></td>
        <td><a href="#">最新资讯</a></td>
        <td>Data</td>
        <td>2009/12/25  22:43</td>
        <td><a href="#">查看</a> <a href="#">编辑</a> <a href="#">删除</a></td>
      </tr>
      <tr class="even hover">
        <td><input type="checkbox" /></td>
        <td><a href="#">社会网络造假经典案例</a></td>
        <td><a href="#">最新资讯</a></td>
        <td>Data</td>
        <td>2009/12/25  22:43</td>
        <td><a href="#">查看</a> <a href="#">编辑</a> <a href="#">删除</a></td>
      </tr>
      <tr class="opt">
        <td><label><input type="checkbox" /> 全选</label></td>
        <td colspan="5"><a href="#">批量删除</a></td>
      </tr>
    </table>
  </div>
  <div class="pages">
    <div class="total">总共<strong>100</strong>篇 / <strong>10</strong>篇每页</div>
    <div class="number"><a href="#">上一页</a> <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <span class="curr">5</span> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a> <a href="#">9</a> <a href="#">下一页</a></div>
  </div>
</div><!-- /content -->
{include file="footer.html"}