{include file="header.html"}
{include file="sidebar.html"}  
{literal}
<script>
var url = 'index.php?url=menu/del/';
</script>
{/literal}
<div id="content">
        <div class="pageTit">
          <h2>栏目列表</h2>
          <span class="desc">您可以在这里对现有栏目进行操作。</span>
          <span class="opt"><a href="/menu/order">主栏目排序</a><a href="/menu/add">添加栏目</a></span>
        </div>
        {if $menu}
        <div class="dataBox">
          <table border="0" >
          <thead>
            <tr class="title">
              <th width="55"><label><input type="checkbox" class="selectAll"/> 全选</label></th>
              <th>栏目名称</th>
              <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach from=$menu item=list key=key}
            <tr class="even select_s" id="list_{$list.id}">
            <td><input type="checkbox" /></td>
              <td>{$list.menu_name}</td>
              <td>
                  <a href="/menu/edit&id={$list.id}">编辑</a>
                  <a href="/menu/order&id={$list.id}">排序</a>
                  <a href="javascript:void(0);" class="deleteOne">删除</a>
              </td>
            </tr>
            	{foreach from=$list.child item=clist}
            	<tr class="odd select_s" id="list_{$clist.id}">
            	<td><input type="checkbox" /></td>
            	<td>&nbsp;&nbsp;&nbsp;{$clist.menu_name}</td>
            	<td>
                 <a href="/menu/edit&id={$clist.id}">编辑</a>
                 <a href="javascript:void(0);" class="deleteOne">删除</a>
            	</td>
            	</tr>
            	{/foreach}
            {/foreach}
            </tbody>
            <tr class="opt">
              <td><label><input type="checkbox" class="selectAll"/> 全选</label></td>
              <td colspan="5">
              
              <a href="javascript:void(0);" id="deleteAll">批量删除</a></td>
              
            </tr>
            </table>
        </div>
        {else}
        <div class="msgBox">
            <div class="message info">
            <span>友情提示</span>
            对不起,暂无您所要的内容
            </div>
        </div>
        {/if}
        
   
	{include file="pager.html"}
</div>

{include file="footer.html"}  